<p>メッセージ投稿</p>
<%= form_with model: @message, local: true do |f| %>
  <p>メッセージタイトル：<%= f.text_field :title %></p>
  <p>メッセージ本文：<%= f.text_area :content %></p>
  <%= f.submit "送信" %>
<% end %>

<br><%= link_to "投稿一覧へ", messages_path %>