<h1>タスク 作成</h1>
<%= form_with model: @task, local: true do |f| %>
  <div>タイトル <%= f.text_field :title %></div>
  <div>内容 <%= f.text_field :content %></div>
  <%= f.submit "送信" %>
<% end %>
<%= link_to "一覧画面へ", tasks_path %>
